[Unit]
Description=Bind mount VirtualBox ExtensionPacks from /opt to /usr
ConditionPathIsDirectory=/usr/lib64/virtualbox/ExtensionPacks

[Mount]
What=/opt/virtualbox/ExtensionPacks
Where=/usr/lib64/virtualbox/ExtensionPacks
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
